<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>DefaultValue</key>
      <true/>
      <key>Key</key>
      <string>useDefaultPrinter</string>
      <key>Title</key>
      <string>Use default printer</string>
      <key>Type</key>
      <string>CheckBox</string>
    </dict>
    <dict>
      <key>Key</key>
      <string>overridePrinterName</string>
      <key>Title</key>
      <string>Override printer name</string>
      <key>Type</key>
      <string>TextField</string>
    </dict>
  </array>
</plist>
